<h1>Let's Plan A Wedding!</h1>

<div class="row">
  <div class="col-md-6">
<h2>Checklist Items To Complete</h2>

<ul>
  {{#each item}}
    <li>{{this.item}}
      <form>
          <input type="hidden" name="done" value="1">
          <button type="submit">Finished!</button>
        </form>
    </li>
  {{/each}}
</ul>

</div>
</div>

<div class="row">
  <div class="col-md-6">
<h2>One less thing to worry about!</h2>

<ul>
  {{#each item}}
  {{#if this.value}}
    <li>{{this.item}}
    </li>
    {{/if}}
  {{/each}}
</ul>

</div>
</div>

<h2>Add Another Item to the List</h2>
<form class="create-form">
  <div class="form-group">
    <label for="ca">Item Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Done yet?</label><br>
    <input type="radio" name="done" value="1" checked> Done!<br>
    <input type="radio" name="done" value="0"> Not Yet
  </div>

  <button type="submit">Add Item</button>
</form>